.header{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    background: "transparent";
    z-index:100;
    width:100%;
    color: white;
    transition: background-color ease 300ms;
    
}
.header.active{
    background:white;
    opacity:100%;
    color: black;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.25);
  }
.header_center{
    display: flex;
    align-items: center;
    flex:1;
    max-width: fit-content;
    padding: 10px;
    height: 20px;
    border-radius: 999px;
    border:1px solid lightgray;
}
.header_center>input{
    border:none;
    width:250px;
    padding:10px;
    outline-width: 0px;
    background: transparent;
}
.header_icon{
    object-fit: contain;
    height:50px;
    margin-left:60px;
    font-size: 40px;
    font-family: 'Zilla Slab', serif;
    
}

.header_right{
    display: flex;
    align-items: center;
    margin-right: 80px;
    justify-content: space-between;
    width: 15vw;

}
