.HostResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }

.HostResult:hover {
    opacity: 0.8;
}

.HostResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.HostResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.HostResult__heart {
    position: absolute;
    top: 20px;
    right: 40px;
}

.HostResult__infoTop {
    width: 40vw;
}

.HostResult__infoTop > h3 {
    font-weight: 300;
    margin-top: 10px;
}

.HostResult__infoTop>p {
    margin-top: 10px;
    /* font-size: 13px; */
    color: gray;
  }
  
.HostResult__infoBottom {
    display: flex;
    justify-content: space-between;
}


.HostResult__star {
    color: red;
}


.HostResult__stars {
    display: flex;
    align-items: center;
}

.HostResults__price > p {
    text-align: right;
  }

.HostResults__price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.FirstColumn{
    display: flex;
    position: absolute;
    top: 20px;
    right: 30px;
}
.HostResult_info_Bottom>p{
    margin-top: 2px!important;
    font-size: 13px;
    color: gray;
    margin-bottom:0px!important;
}
.EditListing{
    margin-right: 35px;
}
/* * {
    outline: solid #f00 1px;
  } */