*{
    box-sizing: border-box;
}
.hotel{
        max-width: 1080px; 
        margin: 0 auto; 
        display: flex;
}
.hotel_left{
  width: 65%;
 }
 .hotel_card{
    border-bottom: 0.5px solid lightgrey;
 }
.hotel_name{
    color: #222222  ;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif  ;
    font-weight: 400  ;
    font-size: 26px  ;
    line-height: 20px  ;
}  
.hotel_details{
    padding-top:10px;
    display: flex;
    align-items: center;
    
}

.hotel_rating{
    padding-right:40px;
    display: flex;
    align-items: center;
    color: rgb(34, 34, 34)  ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    font-weight: 600  ;
    font-size: 14px  ;
    line-height: 20px  ;
}
.hotel_location{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    font-weight: 400  ;
    text-decoration: underline;
    font-variant: inherit  ;
    font-size: 14px  ;
    line-height: 20px  ;
    color: rgb(113, 113, 113)  ;
}
.hotel_pic{
    
    object-fit: fill;
    max-width: 400px;
    max-height: 180px;
    border-radius: 10px;
    margin-right: 30px;
    
}
.hotel_stuff{
    display: flex;
    margin:16px;
    margin-left: 0px;
    /* align-items: center; */
    
}
.hosting_name{
    color: rgb(34, 34, 34) ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px ;
}
.hotel_features{
    color: #484848;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    
    font-size: 14px;
    line-height: 1px ;
}
.price{
    color: rgb(34, 34, 34) ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    
    font-size: 22px;
    
}
.hotel_writeup{
    margin-top: 20px;
    padding-bottom:20px ;
    color: #484848  ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
   
    font-size: 16px  ;
    line-height: 34px  ;
    word-break: break-word  ;
    border-bottom: 0.5px solid lightgrey;

}
.hotel_location_google{
    margin-top:40px;
    color: rgb(34, 34, 34) ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    font-size: 22px;
    text-decoration: none;
    
    
}
.hotel_location_image>img{
    width:600px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

}
.review_rating{
    display: flex;
    margin-bottom: 30px;
    
}
.review_rating>img{
    width: 20px;
}
.rating_number{
    font-size: 1.5em !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    padding-left: 10px;
}
.review{
    margin-top:10px;
    border-radius: 10px;
    padding:10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.8);
    transition: transform 100ms ease-in;
    cursor: pointer;
    align-items: center;

}
.reviewer_info{
    display:flex;
    align-items: center;
}
.reviewer_photo>img{
    width:50px;
    border-radius: 50px;
}
.reviewer_name{
    padding-left:10px;
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px ;
    margin-left: 12px ;
}
.review_writeup{
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 24px !important;
    word-break: break-word !important;
}
/* This is the the search hover on the right hand side */
.hotel_right{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.selector_hotel {
    border-radius: 20px;
    border:0.5px solid lightgray;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.25);

    
    position: -webkit-sticky;
  position: sticky;
  top: 8rem;

    justify-content: space-between;
    display: inline-block;
    align-items: center;
    background-color: white;
    max-width: 350px;
    padding: 20px;

   

  }
  .caption {
    position: relative;
    top: 8vw;
    color: white;
    font-family: "Lobster", cursive;
    font-size: 40px;
    text-align: center;
  }

  .people_hotel{
      display: flex;
      align-items: center;
      text-align: center;
      padding-left: 10px;

      font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color:#757575;

  }
  .people_hotel_input > input {
    border: none;
    width: 200px;
    outline-width: 0px;
    background: transparent;
    font-size: 16px;
    padding-left:20px;
  }
  .book_button{
      display: flex;
      justify-content: center;
  }
  .book_button button {
    margin-top:20px;
    background-color: transparent;
    display: inline-block;
    font-size: 22px;
    color: white;
    border: 1px solid black;
    background-color: rgb(5, 1, 2);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 600px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: background-color ease 400ms;
  }
  .Search_button button:hover {
    color: white;
    background: rgb(56, 31, 80);
  }

  .hotel_rating_outer{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      padding-left:10px;
      
  }
  .hotel_card{

  }
  .hotel_price_float{
    padding-right:40px;
    display: flex;
    align-items: center;
    color: rgb(34, 34, 34)  ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    font-weight: 60  ;
    font-size: 18px  ;
    line-height: 20px  ;

  }
  .hotel_rating_float{
      margin-bottom: 0;
    padding-right:40px;
    display: flex;
    align-items: center;
    color: rgb(34, 34, 34)  ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    font-weight: 60  ;
    font-size: 18px  ;
    line-height: 20px  ;
  }
  .rating_number_float{
    color: rgb(34, 34, 34)  ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    font-weight: 60  ;
    font-size: 18px  ;
    line-height: 20px  ;
    padding-left: 5px;

  }

  /* * {
    outline: solid #f00 1px;
  } */