.DateInput_input__focus{
    background-color:#DBDBDB;
}
.DateRangePickerInput__withBorder{
    border: 1px solid white;
}
.DateInput{
    background-color:#DBDBDB;
    
}
.DateInput_input{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.DateRangePickerInput_arrow_svg{
    display:none;
}
.DateInput_input__focused{
    border-bottom: 0px solid white;
}
.CalendarDay__selected {
    
    background: black;
    color:white;
    border-color: #E4E7E7;
  }
  .CalendarDay__selected:hover {
    
    background: black;
    color:white;
    border-color: #E4E7E7;
  }
  .CalendarDay__selected_span {
   
    background: grey;
    color:white;
    border-color: #E4E7E7;
  }
  .CalendarDay__selected_span:hover {
   
    background: grey;
    color:white;
    border-color: #E4E7E7;
  }
  .CalendarDay__selected:hover {
    background:black;
    color: white;
  }
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
    background:lightgray;
  color:black;
  border-color: #E4E7E7;
}