*{
    box-sizing: border-box;
}
/* * {
    outline: solid #f00 1px;
  } */
.booked_card{
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.5);
    max-width: 1080px; 
    border-radius: 10px;
    margin: 0 auto;
    padding:20px; 
}
.recentlybookedlocations{
    overflow-wrap: break-word  ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    font-size: 32px  ;
    font-weight: 80  ;
    line-height: 1.125em  ;
    color: rgb(72, 72, 72)  ;
  
}
.recentlybooked{
    max-width: 1080px; 
    margin: 0 auto; 
}

.review_rating{
    display: flex;
    margin-bottom: 30px;
    
}
.review_rating>img{
    
}
.rating_number{
    font-size: 1.5em ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    padding-left: 10px;
}
.booked_review{
    
    margin-top:20px;
    border-radius: 10px;
    padding:10px;
    overflow: hidden;
    cursor: pointer;
    align-items: center;

}
.reviewer_info{
    display:flex;
    align-items: center;
}
.reviewer_photo>img{
    width:50px;
    border-radius: 50px;
}
.reviewer_name{
    padding-left:10px;
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px ;
    margin-left: 12px ;
}
.review_writeup{
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 24px !important;
    word-break: break-word !important;
    margin-top:10px;
}
/* This is the the search hover on the right hand side */


 
  .hotel_card{

  }
  .hotel_price_float{
    padding-right:40px;
    display: inline-block;
    align-items: center;
    color: rgb(34, 34, 34)  ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif  ;
    font-weight: 60  ;
    font-size: 18px  ;
    line-height: 20px  ;

  }


  /* * {
    outline: solid #f00 1px;
  } */