
.searchPage__info {
  padding: 20px;
  }

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage__info > h1 {
    margin-bottom: 30px;
}

.searchPage__info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
  }
  .searchPage{
    position: relative;
    top: -27px; 
  }
  .listings_pagination{
    display: flex;
    justify-content: center;
  }
  .stay_conditions{
    margin: 5px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    color:rgb(109, 106, 106);
    font-size: smaller;
  }